{% set head_node = hostvars[groups['openstack_controller'][0]] %}
[DEFAULT]
lock_path = $state_path/lock
bind_host = 0.0.0.0
bind_port = 9696
api_paste_config = api-paste.ini
auth_strategy = keystone
control_exchange = neutron
allow_overlapping_ips = False
notification_topics = notifications
core_plugin = neutron.plugins.openvswitch.ovs_neutron_plugin.OVSneutronPluginV2
rpc_backend = neutron.openstack.common.rpc.impl_qpid
qpid_hostname = {{ head_node.ansible_default_ipv4.address }}

[QUOTAS]

[DEFAULT_SERVICETYPE]

[AGENT]

[keystone_authtoken]
auth_host = {{ head_node.ansible_default_ipv4.address }}
auth_port = 35357
auth_protocol = http
signing_dir = /var/lib/neutron/keystone-signing
admin_tenant_name = admin
admin_user = admin
admin_password = {{ admin_pass }}

